In [72]:
import pandas as pd
import subprocess
import yfinance as yf
import pandas_datareader as web

In [2]:
subprocess.Popen(r"portfolio_assignment_testing_data.xlsx", shell=True)

# Percentage of Positive Return Over 60 months

In [2]:
df = pd.read_excel("portfolio_assignment_testing_data.xlsx", index_col=0)
df

,WILLOW,OPENSYS,HONGSENG,ELSOFT,VITROX,REXIT,GREENYB,INARI,MAYBANK,HARBOUR,...,MCEHLDG,QL,UCHITEC,SUPERMX,TOPGLOV,SMISCOR,GENETEC,CAB,DIALOG,YINSON
Date,,,,,,,,,,,,,,,,,,,,,
2018-03-31,0.439640,0.156730,0.06875,0.914481,2.566291,0.545352,0.170418,1.581140,7.063348,0.612762,...,0.715,3.265719,1.983992,0.465675,1.376497,0.425,0.099379,0.867962,2.901233,1.870376
2018-04-30,0.451740,0.156730,0.06125,0.910808,2.479949,0.513737,0.160680,1.483397,7.183291,0.621707,...,0.730,3.297799,2.021145,0.533779,1.357935,0.430,0.089665,0.829199,2.910684,1.851672
2018-05-31,0.473536,0.151133,0.06000,0.936517,2.892473,0.497930,0.150942,1.949114,6.377006,0.626180,...,0.740,3.381206,2.140036,0.598200,1.462171,0.540,0.090412,0.897486,2.995736,2.027006
2018-06-30,0.447470,0.159529,0.05875,0.954713,2.691164,0.509785,0.150942,1.962362,6.195848,0.635126,...,0.730,3.849571,2.028576,0.774173,1.733472,0.475,0.089665,0.858465,2.932208,2.158998
2018-07-31,0.460503,0.165126,0.05375,1.002818,3.086640,0.537448,0.155811,2.127339,6.753474,0.653017,...,0.755,3.849571,2.296080,0.811303,1.456290,0.515,0.096390,0.916996,3.150462,2.181456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-30,0.360000,0.342156,0.22500,0.600000,7.288072,0.725260,0.200000,2.610322,8.332414,1.091765,...,1.020,5.536037,3.240710,0.856625,0.870000,0.730,2.600000,0.475000,2.270000,2.350000
2022-12-31,0.380000,0.346111,0.22000,0.575000,7.650000,0.730000,0.200000,2.585975,8.400000,1.062521,...,1.350,5.476403,3.270000,0.870000,0.905000,0.795,2.390000,0.490000,2.450000,2.430000
2023-01-31,0.385000,0.346111,0.20000,0.605000,7.840000,0.795000,0.200000,2.566159,8.438621,1.052773,...,1.470,5.834207,3.160000,0.810000,0.830000,0.820,2.650000,0.505000,2.600000,2.690000
2023-02-28,0.380000,0.351056,0.13000,0.580000,8.000000,0.760000,0.235000,2.427448,8.496552,1.208740,...,1.670,5.774573,3.240000,0.755000,0.755000,0.875,2.760000,0.530000,2.250000,2.700000
2023-03-29,0.395000,0.315000,0.11500,0.620000,7.880000,0.740000,0.215000,2.410000,8.560000,1.130000,...,1.790,5.890000,3.200000,0.960000,0.995000,0.720,2.710000,0.695000,2.340000,2.560000

In [12]:
df_return = (df
             .pct_change()
             .mul(100)   
             .dropna(axis=0)
                )

In [16]:
top_3_return = df_return[['GENETEC', 'SUPERMX', 'HONGSENG']]
top_3_return.head()

              GENETEC    SUPERMX   HONGSENG
Date
2018-04-30  -9.774493  14.624648 -10.909091
2018-05-31   0.833078  12.068904  -2.040820
2018-06-30  -0.826195  29.417079  -2.083332
2018-07-31   7.499967   4.796148  -8.510637
2018-08-31  24.031035 -23.112137   0.000000

## Num of positive return

In [29]:
def assign_positive(series):
    return pd.Series([1 if return_ > 0 else 0 for return_ in series])

In [38]:
relative_return = top_3_return.apply(assign_positive)
relative_return.sum()

GENETEC     35
SUPERMX     27
HONGSENG    25
dtype: int64

In [36]:
relative_return.shape

(60, 3)

In [43]:
tickers = \
    """WILLOW	OPENSYS	HONGSENG	ELSOFT	VITROX	REXIT	GREENYB	INARI	MAYBANK	HARBOUR
    HLIND	DELEUM	TASCO	DAYANG	SYSCORP	CENSOF	ARMADA	BAUTO	EATECH	PECCA
    MCEHLDG	QL	UCHITEC	SUPERMX	TOPGLOV	SMISCOR	GENETEC	CAB	DIALOG	YINSON"""
tickers = [ticker.strip() for grp in tickers.split("\n") for ticker in grp.split('\t')]

In [50]:
info = pd.read_excel(r"C:\Users\USER\Python Programme\uni\portfolio_management\ticker.xlsx", index_col=0)

In [53]:
info_new = info.set_index('Company', drop=True).rename(lambda x: x.split(" ")[0])
info_new

                        Sector Market Cap  Last Price     PE    DY     ROE
Company
QL       Agricultural Products    13.872b        5.70  40.45  0.61   12.93
AORB     Agricultural Products    328.00m        3.28      -  0.19       -
PLABS    Agricultural Products     49.54m        0.18  13.74  3.33    4.85
LAYHONG  Agricultural Products    214.69m        0.29   6.33  1.03    7.51
GREENYB  Agricultural Products    119.30m        0.22   3.65  1.36   17.33
...                        ...        ...         ...    ...   ...     ...
NWP       Wood & Wood Products    124.49m        0.22      -     0  -52.77
PWORTH    Wood & Wood Products    179.41m        0.12  11.01     0    6.81
EKSONS    Wood & Wood Products     88.68m        0.54      -     0   -9.44
KLCI1XI                    NaN          -        2.01      -     -       -
KLCI2XL                    NaN          -        1.61      -     -       -

[1007 rows x 6 columns]

In [56]:
info_new.loc[tickers, 'Sector'].sort_values().to_clipboard(excel=True)

# Percentage of stock's market cap for different range of return

In [50]:
df = pd.read_excel("portfolio_assignment_testing_data.xlsx", index_col=0, sheet_name="return and risk")
df = df * 100
df

          Average Monthly Return  Std of Monthly Return
Company
WILLOW                  0.108069               7.583262
OPENSYS                 2.004740              15.176805
HONGSENG                7.114676              50.144704
ELSOFT                  0.091748              12.413254
VITROX                  2.327957               9.766406
REXIT                   0.864823               8.811636
GREENYB                 1.353826              15.012640
INARI                   1.156221               9.728356
MAYBANK                 0.402716               4.077409
HARBOUR                 1.407573               9.074822
HLIND                   0.192117               5.905826
DELEUM                  0.812329              12.599845
TASCO                   0.855940              17.131986
DAYANG                  2.730242              19.100777
SYSCORP                 2.313452              15.442866
CENSOF                  1.572404              17.064754
ARMADA                  1.585037              18.366414
BAUTO                   0.895475               8.823940
EATECH                  1.371082              22.972997
PECCA                   3.095893              12.735008
MCEHLDG                 2.608259              15.991185
QL                      1.144459               5.817355
UCHITEC                 1.040328               6.942761
SUPERMX                 5.114672              36.557682
TOPGLOV                 0.932294              18.799485
SMISCOR                 1.699473              13.191871
GENETEC                 9.093099              33.501868
CAB                     0.165265              10.746255
DIALOG                 -0.099109               7.261130
YINSON                  0.921005               8.722740

In [92]:
tickers = list(df.index)
df_tickers = pd.read_excel('ticker.xlsx', index_col=0)
# df_tickers['Company'].apply(lambda x: x.split(" ")[1][1:-1] + ".KL")
tickers = [list_ticker.split(" ")[1][1:-1] + ".KL" for ticker in tickers for list_ticker in list(df_tickers['Company']) if ticker == list_ticker.split(" ")[0]]
tickers

30

In [63]:
def get_market_cap(ticker_symbol):
    print(ticker_symbol)
    stock = yf.Ticker(ticker_symbol)
    info = stock.info
    print(info)
    market_cap = info['marketCap']
    return market_cap

In [80]:
tickers[0]

'0008.KL'

In [93]:

market_caps =  []
for ticker in tickers:
    try:
        market_caps.append(web.get_quote_yahoo(ticker)['marketCap'].values[0])
    except KeyError:
        market_caps.append(ticker)
market_caps

['0008.KL',
 '0040.KL',
 '0041.KL',
 '0090.KL',
 '0097.KL',
 '0106.KL',
 '0136.KL',
 '0166.KL',
 86676209664,
 472471968,
 2776958976,
 '5132.KL',
 175000000,
 1236711040,
 654000000,
 125425752,
 3783744256,
 2599558656,
 98280000,
 '5271.KL',
 87033216,
 7163691520,
 1426888576,
 654483392,
 1340239232,
 30786948,
 '0104.KL',
 127075024,
 12480774144,
 2866411008]

In [108]:
market_caps = [\
189.359 * 1000000,
 147.456 * 1000000,
 561.926 *1000000,
 423.158 * 1000000,
 7.482 * 1000000000,
 132.439 * 1000000,
 124.727 * 1000000,
 9.108 * 1000000000,
 86676209664,
 472471968,
 2776958976,
 375.453 * 1000000,
 175000000,
 1236711040,
 654000000,
 125425752,
 3783744256,
 2599558656,
 98280000,
 762.421 * 1000000,
 87033216,
 7163691520,
 1426888576,
 654483392,
 1340239232,
 30786948,
 2.108 * 1000000000,
 127075024,
 12480774144,
 2866411008]

In [111]:
df['marketCap'] = market_caps
df = df.iloc[:, :-1]
df

          Average Monthly Return  Std of Monthly Return     marketCap
Company
WILLOW                  0.108069               7.583262  1.893590e+08
OPENSYS                 2.004740              15.176805  1.474560e+08
HONGSENG                7.114676              50.144704  5.619260e+08
ELSOFT                  0.091748              12.413254  4.231580e+08
VITROX                  2.327957               9.766406  7.482000e+09
REXIT                   0.864823               8.811636  1.324390e+08
GREENYB                 1.353826              15.012640  1.247270e+08
INARI                   1.156221               9.728356  9.108000e+09
MAYBANK                 0.402716               4.077409  8.667621e+10
HARBOUR                 1.407573               9.074822  4.724720e+08
HLIND                   0.192117               5.905826  2.776959e+09
DELEUM                  0.812329              12.599845  3.754530e+08
TASCO                   0.855940              17.131986  1.750000e+08
DAYANG                  2.730242              19.100777  1.236711e+09
SYSCORP                 2.313452              15.442866  6.540000e+08
CENSOF                  1.572404              17.064754  1.254258e+08
ARMADA                  1.585037              18.366414  3.783744e+09
BAUTO                   0.895475               8.823940  2.599559e+09
EATECH                  1.371082              22.972997  9.828000e+07
PECCA                   3.095893              12.735008  7.624210e+08
MCEHLDG                 2.608259              15.991185  8.703322e+07
QL                      1.144459               5.817355  7.163692e+09
UCHITEC                 1.040328               6.942761  1.426889e+09
SUPERMX                 5.114672              36.557682  6.544834e+08
TOPGLOV                 0.932294              18.799485  1.340239e+09
SMISCOR                 1.699473              13.191871  3.078695e+07
GENETEC                 9.093099              33.501868  2.108000e+09
CAB                     0.165265              10.746255  1.270750e+08
DIALOG                 -0.099109               7.261130  1.248077e+10
YINSON                  0.921005               8.722740  2.866411e+09

In [114]:
df_new = df.sort_values("Std of Monthly Return", ascending=False)
df_new

          Average Monthly Return  Std of Monthly Return     marketCap
Company
HONGSENG                7.114676              50.144704  5.619260e+08
SUPERMX                 5.114672              36.557682  6.544834e+08
GENETEC                 9.093099              33.501868  2.108000e+09
EATECH                  1.371082              22.972997  9.828000e+07
DAYANG                  2.730242              19.100777  1.236711e+09
TOPGLOV                 0.932294              18.799485  1.340239e+09
ARMADA                  1.585037              18.366414  3.783744e+09
TASCO                   0.855940              17.131986  1.750000e+08
CENSOF                  1.572404              17.064754  1.254258e+08
MCEHLDG                 2.608259              15.991185  8.703322e+07
SYSCORP                 2.313452              15.442866  6.540000e+08
OPENSYS                 2.004740              15.176805  1.474560e+08
GREENYB                 1.353826              15.012640  1.247270e+08
SMISCOR                 1.699473              13.191871  3.078695e+07
PECCA                   3.095893              12.735008  7.624210e+08
DELEUM                  0.812329              12.599845  3.754530e+08
ELSOFT                  0.091748              12.413254  4.231580e+08
CAB                     0.165265              10.746255  1.270750e+08
VITROX                  2.327957               9.766406  7.482000e+09
INARI                   1.156221               9.728356  9.108000e+09
HARBOUR                 1.407573               9.074822  4.724720e+08
BAUTO                   0.895475               8.823940  2.599559e+09
REXIT                   0.864823               8.811636  1.324390e+08
YINSON                  0.921005               8.722740  2.866411e+09
WILLOW                  0.108069               7.583262  1.893590e+08
DIALOG                 -0.099109               7.261130  1.248077e+10
UCHITEC                 1.040328               6.942761  1.426889e+09
HLIND                   0.192117               5.905826  2.776959e+09
QL                      1.144459               5.817355  7.163692e+09
MAYBANK                 0.402716               4.077409  8.667621e+10

In [136]:
std_median = 10
std_median

10

In [137]:
df_volatile = df_new[df_new['Std of Monthly Return'] >= std_median]
df_less_volatile = df_new[~(df_new['Std of Monthly Return'] >= std_median)]

In [138]:
sum(df_volatile['marketCap'] < 2 * 1000000000)

16

In [143]:
sum(df_less_volatile['marketCap'] < 2 * 1000000000)
sum(df_less_volatile['marketCap'] >= 2 * 1000000000)
# df_less_volatile['marketCap']

8

In [145]:
df_new.to_clipboard(excel=True)